@import "tailwindcss";

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/the-seasons/theseasons-reg.woff2") format("woff2"),
    url("/fonts/the-seasons/theseasons-reg.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/the-seasons/theseasons-bd.woff2") format("woff2"),
    url("/fonts/the-seasons/theseasons-bd.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/the-seasons/theseasons-it.woff2") format("woff2"),
    url("/fonts/the-seasons/theseasons-it.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/the-seasons/theseasons-bdit.woff2") format("woff2"),
    url("/fonts/the-seasons/theseasons-bdit.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/the-seasons/theseasons-lt.woff2") format("woff2"),
    url("/fonts/the-seasons/theseasons-lt.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TheSeasons";
  src: url("/fonts/the-seasons/theseasons-lit.woff2") format("woff2"),
    url("/fonts/the-seasons/theseasons-lit.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-Seasons: "TheSeasons";
  --font-Montserrat: "Montserrat";
  --color-fondo: #fff;
  --color-texto: #000;
  --color-detalles1: #d4c0b1;
  --color-detalles2: #daf0fc;
  --color-detalles3: #8a8987;
}
