---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <div class="h-dvh w-full flex flex-col items-center justify-center">
        <img src="/images/logo.webp" alt="Logo FilmFrame" class="w-[45rem]" />
        <p class="uppercase font-bold font-Seasons text-4xl text-[#d3b59e] mt-5">stories that <span class="font-extrabold">last forever</span></p>
    </div>
</Layout>